<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript" src="js/vue.global.js"></script>
  <script type="text/javascript" src="js/vis-network.min.js"></script>
  <!--
    Including other packages like Vis Timeline or Vis Graph3D here won't work.
    You need the peer build to do that.
  -->
  <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div class="side-by-side">
        <div class="alt">

            <div id="tabbed_ui">
                <div class="titles">

                    <div :class="['tab title', {active: tab.active, live: tab.live}]"
                        v-for='tab of tabs'>
                        <a href='javascript:;'
                            class="title"
                            @click='tabClick($event, tab)'>{{ tab.title }}</a>
                    </div>
                </div>

                <div class="panels">

                    <div
                        v-for='tab of tabs'
                        :class="['tab panel', {active: tab.active, live: tab.live}]"
                        >
                        <div class="network-view">
                            panel {{ tab.title }}, {{ tab.initIndex }}

                        </div>
                    </div>
                </div>
            </div>

        </div>


  <div class="content">

      <div class="filename">
        <label>
          <input type="text" name="filename" id="filename" value='shuffled_letter.json'>
        </label>
        <button onclick='javascript:downloadAppendStore(filename.value)'>Load</button>
      </div>

      <!-- <div id="mynetwork"></div> -->

  </div>
  <div class="logs">
    <ul id="log_items">
      <li>log.</li>
    </ul>
  </div>
  </div>

  <!-- <script type="text/javascript" src="js/vis/simple_json.js"></script> -->
  <!-- <script type="text/javascript" src="js/vis/live_nodes.js"></script> -->
  <script type="text/javascript" src="js/vis/tabbed-head.js"></script>
  <script type="text/javascript" src="js/vis/live_nodes-tabbed.js"></script>
  <script type="text/javascript" src="js/vis/socket_connect.js"></script>
  <script type="text/javascript" src="js/vis/socket.vue.js"></script>

</body>
</html>
