<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript" src="js/vis-network.min.js"></script>
  <!--
    Including other packages like Vis Timeline or Vis Graph3D here won't work.
    You need the peer build to do that.
  -->
  <style>
    #mynetwork {
        border: solid;
        /*height: 100%;*/
        display: flex;
        min-height: 32em;
        height: 32em;
    }

    .vis-network {
        height: 32em;
        height: 40em;
    }

  </style>
</head>
<body>


<div id="mynetwork"></div>
  <script type="text/javascript" src="js/vis/simple_json.js"></script>
<script type="text/javascript">

</script>

</body>
</html>
