#mynetwork {
    border: solid;
    /*height: 100%;*/
    display: flex;
    min-height: 32em;
    /* height: 32em; */
    flex-grow: 1;
}

.vis-network {
    height: 32em;
    height: 40em;
}

.content {
    display: flex;
    /* width: 100%; */
    flex-grow: 1;
    flex-direction: column;
}


body {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

html {
    min-height: 100vh;
    display: flex;
    /* border: solid; */
    flex-direction: column;
}


div#tabbed_ui {
    border: solid;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.alt {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.side-by-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titles {
    display: flex;
    /* flex-grow: 1; */
    border: solid;
}

.panels {display: flex;flex-direction: column;flex-grow: 1;border: solid;min-height: 50vh;}

.tab.panel {
    border: solid 1px green;
    flex-grow: 1;
    display: flex;
    display: none;
    /* min-height: 50vh; */
}

.tab.title.live {
    background: #81e781;
}

.tab.title.active {
    font-weight: bold;
    background: #dfc547;
}


.tab.title.active.live {
    background: #399bc7;
    color: white;
}

.tabs a.title {
    padding: .5em 1em;
    display: block;
    color: inherit;
    text-decoration: none;
}

.tab.panel.active {
    display: flex;
}
